/* styles.css */

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #F7EEB8;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FF6B6B;
    font-size: 36px;
}

p {
    color: #333;
}

#ipAddress {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

#pingButton {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pingButton:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #4CAF50;
}

/* アニメーション */
@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pop-element {
    animation: pop 1s infinite;
}
